@font-face{
    font-family: ModernPictographs;
    src: url('/packages/awatson1978_fonts-pictographs/fonts/ModernPictographs.otf');
}
.pictographs, .pictograph, .pictogram, .pictograms{
    font-family: ModernPictographs;
    font-size: 1.2em;
}
